<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="style2.css" />
    <script src="https://unpkg.com/sweetalert@2.1.2/dist/sweetalert.min.js"></script>
  </head>
  <body>
    <header>
      <img src="mainimage/logo.png">
      <ul class="nav">
        <li> <a href="/" class="home">HOME</a></li> 
        <li> <a href="/webcam_emotion" class="feel">오늘 기분 어때?</a></li>
        <li> <a href="/education_emotion" class="qu"><b>표정 맞히기</b></a></li>
        <li> <a href="/contact">Contact</a></li>
      </ul>
    </header>

    <script>
      swal("사진을 직접 추가해 감정을 측정해보세요!")
    </script>

    <div class="image_container" style="margin-left: auto; margin-right: auto;">
      <img src="" alt="imaggg" id="img" style="width:600px; height:400px; visibility:hidden"/>
    </div>
    <div style="margin-top: 20px;">
      <input type="file" name="img" id="image_input" accept="image/*" />
      <button class="backBtn">뒤로가기</button>
    </div>
  </body>

  <script src="dist/face-api.js"></script>
  <script src="src/add_image.js"></script>
  <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-2.1.1.min.js"
  ></script>
</html>
