<!DOCTYPE html>   
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style3.css" />
        <link rel="stylesheet" id="fusion-dynamic-css-css" href="https://cometrue.ai/wp-content/uploads/fusion-styles/29d74b6fe318b8e34a24903d2095a503.min.css?ver=3.4.2" type="text/css" media="all">
       <script type="text/javascript" src="https://cometrue.ai/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp"></script>
    </head>

  <body>
	<header>
        <img src="mainimage/logo.png">
        <ul class="nav">
          <li> <a href="/" class="home">HOME</a></li> 
          <li> <a href="/webcam_emotion" class="feel">오늘 기분 어때?</a></li>
          <li> <a href="/education_emotion" class="qu">표정 맞히기</a></li>
          <li> <a href="/contact"><b>Contact</b></a></li>
        </ul>
    </header>

    <div id="box_wrapper" style="margin-left: 330px; margin-right: 330px;  color: #990000; font-size: 12px; float: none;">
        <h3 style="text-align: center; margin-bottom: 30px; font-weight: 400; font-size: 25px; line-height: 1.5; color: #202020;"  class="fusion-responsive-typography-calculated">문의하기</h3>
        <form id="wpforms-form-10080" class="wpforms-validate wpforms-form" data-formid="10080" method="post" enctype="multipart/form-data" action="https://script.google.com/macros/s/AKfycbyc_sgjiUCTmYC--q2-kGZtdVERMEFdvq8vbqrvXg/exec" novalidate="novalidate">
                                                            
            <div class="wpforms-field-container">
                <div id="wpforms-10080-field_1-container" class="wpforms-field wpforms-field-text" data-field-id="1" style="margin-bottom: 15px;" >
                    <label class="wpforms-field-label" for="wpforms-10080-field_1" style="color: #5d5f64; font-weight: 700; font-size: 16px;">성함 
                        <span class="wpforms-required-label" style="color: #ff7777;">*</span>
                    </label>
                    <input type="text" id="wpforms-10080-field_1" class="wpforms-field-large wpforms-field-required" name="성함" required="" style="height: 40px;">
                </div>
                <div id="wpforms-10080-field_2-container" class="wpforms-field wpforms-field-text" data-field-id="2" style="margin-bottom: 15px;">
                    <label class="wpforms-field-label" for="wpforms-10080-field_2" style="color: #5d5f64; font-weight: 700; font-size: 16px;">이메일
                        <span class="wpforms-required-label" style="color: #ff7777;">*</span>
                    </label>
                    <input type="text" id="wpforms-10080-field_2" class="wpforms-field-large wpforms-field-required" name="이메일" required="" style="height: 40px;">
                </div>

                <div id="wpforms-10080-field_3-container" class="wpforms-field wpforms-field-text" data-field-id="3" style="margin-bottom: 15px;">
                    <label class="wpforms-field-label" for="wpforms-10080-field_3" style="color: #5d5f64; font-weight: 700; font-size: 16px;">연락처 
                        <span class="wpforms-required-label" style="color: #ff7777;">*</span>
                    </label>
                    <input type="text" id="wpforms-10080-field_3" class="wpforms-field-large wpforms-field-required" name="연락처" required="" style="height: 40px;">
                </div>

                <div id="wpforms-10080-field_4-container" class="wpforms-field wpforms-field-checkbox" data-field-id="4" style="margin-bottom: 15px;">
                    <label class="wpforms-field-label" for="wpforms-10080-field_4" style="color: #5d5f64; font-weight: 700; font-size: 16px;">문의 내용(중복 선택 가능) 
                        <span class="wpforms-required-label" style="color: #ff7777;">*</span>
                    </label>
                    <ul id="wpforms-10080-field_4" class="wpforms-field-required" style="font-weight: 400; color: #5d5f64;  font-size: 16px;"">
                        <li class="choice-1 depth-1">
                            <input type="checkbox" id="wpforms-10080-field_4_1" name="문의 내용" value="이용 문의" required="">
                            <label class="wpforms-field-label-inline" for="wpforms-10080-field_4_1">이용 문의</label>
                        </li>
                        <li class="choice-2 depth-1">
                            <input type="checkbox" id="wpforms-10080-field_4_2" name="문의 내용" value="기능 문제" required="">
                            <label class="wpforms-field-label-inline" for="wpforms-10080-field_4_2">기능 문제</label>
                        </li>
                        <li class="choice-9 depth-1">
                            <input type="checkbox" id="wpforms-10080-field_4_3" name="문의 내용" value="홈페이지 문의" required="">
                            <label class="wpforms-field-label-inline" for="wpforms-10080-field_4_3">홈페이지 문의</label>
                        </li>
                        <li class="choice-3 depth-1">
                            <input type="checkbox" id="wpforms-10080-field_4_4" name="문의 내용" value="기타" required="">
                            <label class="wpforms-field-label-inline" for="wpforms-10080-field_4_4">기타</label>
                        </li>
                    </ul>
                </div>
                <div id="wpforms-10080-field_5-container" class="wpforms-field wpforms-field-textarea" data-field-id="5" style="margin-bottom: 15px;">
                    <label class="wpforms-field-label" for="wpforms-10080-field_5" style="color: #5d5f64; font-weight: 700; font-size: 16px;">문의 내용 상세 
                        <span class="wpforms-required-label" style="color: #ff7777;">*</span>
                    </label>
                    <br>
                    <textarea  id="wpforms-10080-field_5" class="wpforms-field-medium wpforms-field-required" name="문의 내용 상세" placeholder="문의 내용을 상세하게 적어주시면 더욱 빠른 응대가 가능합니다." required="" ></textarea>
                </div>
                
                <div id="wpforms-10080-field_6-container" class="wpforms-field wpforms-field-checkbox" data-field-id="6" style="margin-bottom: 15px;">
                    <label class="wpforms-field-label" for="wpforms-10080-field_6" style="color: #5d5f64; font-weight: 700; font-size: 16px;">개인정보 수집 및 이용 동의 
                        <span class="wpforms-required-label" style="color: #ff7777;">*</span>
                    </label>
                    <ul id="wpforms-10080-field_6" class="wpforms-field-required">
                        <li class="choice-3 depth-1" style="font-weight: 400; color: #5d5f64;  font-size: 16px;">
                            <input type="checkbox" id="wpforms-10080-field_6_3" name="개인정보 수집 및 이용 동의" value="동의" required="">
                            <label class="wpforms-field-label-inline" for="wpforms-10080-field_6_3">동의</label>
                            
                            <input type="checkbox" id="wpforms-10080-field_6_4" name="개인정보 수집 및 이용 동의" value="비동의" required="">
                            <label class="wpforms-field-label-inline" for="wpforms-10080-field_6_4">비동의</label>
                        </li>
                        
                    </ul>
                    <div class="wpforms-field-description" style="color: #5d5f64; font-weight: 400; font-size: 13px;">수집 항목: 성함, 연락처(이메일, 전화번호)ㅣ수집 목적: 상담 내용 답변 및 기술 정보 전달ㅣ보유 기간: 3년
                        <br>개인정보를 처리하는데 동의를 거부할 권리가 있습니다. 다만 동의 거부 시 일부 서비스 제공이 제한될 수 있습니다.
                    </div>
                </div>
            </div>
            
            <div class="wpforms-submit-container">
                <button type="submit"  class="wpforms-submit " id="wpforms-submit-10080" aria-live="assertive" data-alt-text="등록하는 중입니다" data-submit-text="문의하기" style=" background-color: #eee;
                border: 1px solid rgb(0, 0, 0);
                color: #333;
                font-size: 1em;
                padding: 10px 15px; margin-bottom: 40px;">문의하기</button>
            </div>
        </form>
    </div>

    <script type="text/javascript" src="https://cometrue.ai/wp-content/uploads/fusion-scripts/dc7b1b2dfd30aea246c54eaf8dcc847c.min.js?ver=3.4.2"></script>
    <script type="text/javascript" src="https://cometrue.ai/wp-content/plugins/wpforms-lite/assets/js/jquery.validate.min.js?ver=1.19.0"></script>
    <script type="text/javascript" src="https://cometrue.ai/wp-content/plugins/wpforms-lite/assets/js/wpforms.js?ver=1.5.9.1"></script>
    <script type="text/javascript">
    /* <![CDATA[ */
    var wpforms_settings = {"val_required":"필수 작성 항목입니다.","val_url":"Please enter a valid URL.","val_email":"Please enter a valid email address.","val_email_suggestion":"Did you mean {suggestion}?","val_email_suggestion_title":"Click to accept this suggestion.","val_number":"Please enter a valid number.","val_confirm":"Field values do not match.","val_fileextension":"File type is not allowed.","val_filesize":"File exceeds max size allowed. File was not uploaded.","val_time12h":"Please enter time in 12-hour AM\/PM format (eg 8:45 AM).","val_time24h":"Please enter time in 24-hour format (eg 22:45).","val_requiredpayment":"Payment is required.","val_creditcard":"Please enter a valid credit card number.","val_post_max_size":"The total size of the selected files {totalSize} Mb exceeds the allowed limit {maxSize} Mb.","val_checklimit":"You have exceeded the number of allowed selections: {#}.","val_limit_characters":"{count} of {limit} max characters.","val_limit_words":"{count} of {limit} max words.","val_recaptcha_fail_msg":"Google reCAPTCHA verification failed, please try again later.","post_max_size":"8388608","uuid_cookie":"","locale":"ko","wpforms_plugin_url":"https:\/\/cometrue.ai\/wp-content\/plugins\/wpforms-lite\/","gdpr":"","ajaxurl":"https:\/\/cometrue.ai\/wp-admin\/admin-ajax.php","mailcheck_enabled":"1","mailcheck_domains":[],"mailcheck_toplevel_domains":["dev"]}
    /* ]]> */
    </script>

<script type="text/javascript">
    jQuery( document ).ready( function() {
        var ajaxurl = 'https://cometrue.ai/wp-admin/admin-ajax.php';
        if ( 0 < jQuery( '.fusion-login-nonce' ).length ) {
            jQuery.get( ajaxurl, { 'action': 'fusion_login_nonce' }, function( response ) {
                jQuery( '.fusion-login-nonce' ).html( response );
            });
        }
    });
                    </script>
	
  </body>
</html>

