<!DOCTYPE html>
<html>
  <head>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="style2.css" />

    <link rel="stylesheet" id="fusion-dynamic-css-css" href="https://cometrue.ai/wp-content/uploads/fusion-styles/648057d1d280c3243985abbcd60da311.min.css?ver=3.4.2" type="text/css" media="all">
    <script type="text/javascript" src="https://cometrue.ai/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp"></script>
    
  </head>
  
  <body style="text-align: left" class="page-template page-template-100-width page-template-100-width-php page page-id-9171 fusion-image-hovers fusion-pagination-sizing fusion-button_size-large fusion-button_type-flat fusion-button_span-no avada-image-rollover-circle-no avada-image-rollover-yes avada-image-rollover-direction-fade fusion-body ltr fusion-sticky-header no-tablet-sticky-header no-mobile-sticky-header no-mobile-slidingbar no-mobile-totop fusion-disable-outline fusion-sub-menu-slide mobile-logo-pos-center layout-wide-mode avada-has-boxed-modal-shadow-none layout-scroll-offset-full avada-has-zero-margin-offset-top fusion-top-header menu-text-align-center mobile-menu-design-modern fusion-show-pagination-text fusion-header-layout-v1 avada-responsive avada-footer-fx-none avada-menu-highlight-style-background fusion-search-form-classic fusion-main-menu-search-overlay fusion-avatar-circle avada-sticky-shrinkage avada-dropdown-styles avada-blog-layout-grid avada-blog-archive-layout-grid avada-header-shadow-no avada-menu-icon-position-left avada-has-megamenu-shadow avada-has-mainmenu-dropdown-divider fusion-has-main-nav-icon-circle avada-has-pagetitle-bg-full avada-has-100-footer avada-has-breadcrumb-mobile-hidden avada-has-titlebar-hide avada-has-pagination-padding avada-flyout-menu-direction-fade avada-ec-views-v1 do-animate fusion-no-touch" style="--viewportWidth:1280;">
    <header>
      <img src="mainimage/logo.png">
      <ul class="nav">
        <li> <a href="/" class="home"><b>HOME</b></a></li> 
        <li> <a href="/webcam_emotion" class="feel">오늘 기분 어때?</a></li>
        <li> <a href="/education_emotion" class="qu">표정 맞히기</a></li>
        <li> <a href="/contact">Contact</a></li>
      </ul>
    </header>

    
    <div class = "post-content">
      <div class="fusion-fullwidth fullwidth-box fusion-builder-row-3 fusion-flex-container nonhundred-percent-fullwidth non-hundred-percent-height-scrolling" style="background-color: rgba(255,255,255,0);background-image:radial-gradient(circle at right bottom, #ffffff 48%,#e1f7ff 25%);background-position: center center;background-repeat: no-repeat;border-width: 0px 0px 0px 0px;border-color:#e8eaf0;border-style:solid;">
        <div class="fusion-builder-row fusion-row fusion-flex-align-items-flex-start" style="max-width:1310.4px;margin-left: calc(-4% / 2 );margin-right: calc(-4% / 2 );">
          <div class="fusion-layout-column fusion_builder_column fusion-builder-column-3 fusion_builder_column_1_2 1_2 fusion-flex-column fusion-flex-align-self-flex-start fusion-animated" data-animationtype="fadeInDown" data-animationduration="1.0" data-animationoffset="top-into-view" style="visibility: visible; animation-duration: 1s;">
            <div class="fusion-column-wrapper fusion-flex-justify-content-flex-start fusion-content-layout-column" style="background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;padding: 0px 0px 0px 0px; ">
              <div class="fusion-separator fusion-full-width-sep" style="align-self: center;margin-left: auto;margin-right: auto;margin-top:20px;width:100%;">
                <div class="fusion-separator-border sep-single" style="border-color:e8eaf0;border-top-width:0px;"></div>
              </div>
              <div class="fusion-text fusion-text-1 fusion-text-no-margin" style="color:#000a44;">
                <h4 data-fontsize="24" data-lineheight="36px" class="fusion-responsive-typography-calculated" style="--fontSize:24; line-height: 1.5; --minFontSize:24;">
                  <span style="color: #000a44;" >&nbsp; 인공지능으로 빠르고 편리하게</span>
                </h4>
              </div>
              
              <div class="fusion-title title fusion-title-1 fusion-sep-none fusion-title-text fusion-title-size-one" style="font-size:4rem;margin-top:-65px;margin-bottom:0px;">
                <h1 class="title-heading-left fusion-responsive-typography-calculated" style="font-weight:200;margin:0;font-size:1em;letter-spacing:-3px;color:#00a4ff;--fontSize:64;line-height:1.5;"></h1>
                <h1 data-fontsize="48" data-lineheight="72px" class="fusion-responsive-typography-calculated" style="--fontSize:48; line-height: 1.5;">
                  <span style="color: #f99e00;">
                    <span style="color: #00a4ff;">성공적인 자폐아 교육을 위한</span>
                      <strong>
                        <br>
                      </strong>
                    </span>
                </h1>
              </div>
              
              <style type="text/css">
                .fusion-title.fusion-title-2 .fusion-animated-texts-wrapper::before
                {background-color:#00a4ff!important}
                
              </style>
              <div class="fusion-title title fusion-title-2 fusion-sep-none fusion-title-rotating fusion-loop-on fusion-title-clipIn fusion-title-size-one" style="font-size:4rem;margin-top:-35px;margin-bottom:0px;" data-animationoffset="top-into-view">
                <h1 class="title-heading-left fusion-responsive-typography-calculated" style="font-weight:800;margin:0;font-size:1em;letter-spacing:-3px;color:#00a4ff;--fontSize:64;line-height:1.5;">
                  <span class="fusion-animated-text-prefix">손쉬운</span> 
                  <span class="fusion-animated-texts-wrapper" style="text-align: center; width: auto;" data-length="line" data-mindisplaytime="100">
                    <span class="fusion-textillate" style="visibility: hidden;">
                      <span class="line1" style="display: inline-block; visibility: visible; width: 175.717px; overflow: hidden;">표정분석</span>
                    </span>
                    <span class="fusion-animated-texts" style="display: none;">
                      <span data-in-effect="clipIn" class="fusion-animated-text" data-in-sequence="true" data-out-reverse="true" data-out-effect="clipOut">표정분석</span>
                      <span data-in-effect="clipIn" class="fusion-animated-text" data-in-sequence="true" data-out-reverse="true" data-out-effect="clipOut">감정인식</span>
                      <span data-in-effect="clipIn" class="fusion-animated-text current" data-in-sequence="true" data-out-reverse="true" data-out-effect="clipOut">이상행동</span>
                    </span>
                  </span> 
                  <span class="fusion-animated-text-postfix">학습</span>
                </h1>
              </div>
              
              <div class="fusion-title title fusion-title-3 fusion-sep-none fusion-title-text fusion-title-size-one" style="font-size:80pt;margin-top:-40px;margin-bottom:20px;">
                <h1 class="title-heading-left fusion-responsive-typography-calculated" style="font-weight:200;margin:0;font-size:1em;letter-spacing:-3px;color:#00a4ff;--fontSize:16;--minFontSize:80pt;line-height:1.5;"></h1>
                <h1 data-fontsize="48" data-lineheight="72px" class="fusion-responsive-typography-calculated" style="--fontSize:48; line-height: 1.5;">
                  <span style="color: #00a4ff;">훈련을 진행합니다
                    <strong>
                      <br>
                    </strong>
                  </span>
                </h1>
              </div>
            </div>
            <style type="text/css">
              .fusion-body .fusion-builder-column-3
              {width:50% !important;margin-top : 60px;margin-bottom : 0px;}
              .fusion-builder-column-3 > .fusion-column-wrapper 
              {padding-top : 0px !important;padding-right : 0px !important;margin-right : 3.84%;
              padding-bottom : 0px !important;padding-left : 0px !important;margin-left : 3.84%;}
              @media only screen and (max-width:1024px) 
              {.fusion-body .fusion-builder-column-3{width:50% !important;order : 0;}
              .fusion-builder-column-3 > .fusion-column-wrapper
              {padding-right : 0px !important;margin-right : 3.84%;padding-bottom : 40px !important;
                margin-left : 3.84%;}}@media only screen and (max-width:640px) 
                {.fusion-body .fusion-builder-column-3{width:100% !important;order : 0;}
                .fusion-builder-column-3 > .fusion-column-wrapper {margin-right : 1.92%;margin-left : 1.92%;}}
            </style>
          </div>
          <div class="fusion-layout-column fusion_builder_column fusion-builder-column-4 fusion_builder_column_1_2 1_2 fusion-flex-column fusion-animated" data-animationtype="fadeInRight" data-animationduration="1.0" data-animationoffset="top-into-view" style="visibility: visible; animation-duration: 1s;">
          <div class="fusion-column-wrapper fusion-flex-justify-content-center fusion-content-layout-column" style="background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;padding: 0px 0px 0px 0px;">
          <div style="text-align:right;">
            <span class=" fusion-imageframe imageframe-none imageframe-3 hover-type-none">
              <img width="500" height="500" src="mainimage/main.png" class="img-responsive wp-image-9427" srcset="mainimage/main.png 200w,mainimage/main.png 400w, mainimage/main.png 500w" sizes="(max-width: 640px) 100vw, 500px">
            </span>
          </div>
        </div>
        <style type="text/css">
          .fusion-body .fusion-builder-column-4
          {width:50% !important;margin-top : 0px;margin-bottom : 20px;}
          .fusion-builder-column-4 > .fusion-column-wrapper 
          {padding-top : 0px !important;padding-right : 0px !important;margin-right : 3.84%;
          padding-bottom : 0px !important;padding-left : 0px !important;margin-left : 3.84%;}
          @media only screen and (max-width:1024px) {.fusion-body .fusion-builder-column-4{width:50% !important;}
          .fusion-builder-column-4 > .fusion-column-wrapper {margin-right : 3.84%;margin-left : 3.84%;}}
          @media only screen and (max-width:640px) {.fusion-body .fusion-builder-column-4{width:100% !important;}
          .fusion-builder-column-4 > .fusion-column-wrapper {margin-right : 1.92%;margin-left : 1.92%;}}
        </style>
      </div>
      <style type="text/css">
          .fusion-body .fusion-flex-container.fusion-builder-row-3
          { padding-top : 30px;margin-top : 0px;padding-right : 30px;padding-bottom : 10px;margin-bottom : 0px;
            padding-left : 30px;}
      </style>
    </div> 
    
  <script type="text/javascript" src="https://cometrue.ai/wp-content/uploads/fusion-scripts/9bae29c920fcbc85e7ed7d7711f00a34.min.js?ver=3.4.2"></script>
  <iframe src="https://bid.g.doubleclick.net/xbbe/pixel?d=KAE" style="display: none;"></iframe>
  </body>
</html>
